.color-text-logo{
	color: #595A5C !important;
}
.color-text-primary{
	color: #4A4A4A !important;
}
.color-text-secondary{
	color: #8C8C8C !important;
}
.color-primary{
	color: #9A3D36 !important;
}
.logo-font{
	font-family: 'josefin sans', Arial;
}